@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Montserrat&display=swap');
/** font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

:root {
    --green: hsl(159, 36%, 37%);
    --backGround: hsl(30, 38%, 92%);
    --colorBorderPrincipal: red;
    --primaryBorder: 2px solid green;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: var(--primaryBorder);
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 700px;
    margin: 4rem auto;
}
.product {
    background-color: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgPerfume img{
    width: 100%;
    display: flex;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 2rem;
}
.category{
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    opacity: 0.7;
}
.brand{
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 2.46rem;
}
.description {
    font-size: 1.1rem;
    opacity: 0.7;
    line-height: 1.8rem;
}
.price {
    display: flex;
    align-items: center;
}
.offer {
    color: var(--green);
    font-family: frause;
    font-size: 2.5rem;
    font-weight: bold;
}
.oldPrice {
    opacity: 0.7;
    text-decoration: line-through;
    margin-left: 2rem;
}
.button{
    background-color: var(--green);
    color: #ffffff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 3%;
}
